.box {
  border: 1px solid black;
  width: 500px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 1px solid green;
}

.loose {
  border: 1px solid red;
}

.draw {
  border: 1px solid yellow;
}

